.page-content {
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #676a6c;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}
.gray-bg {
  background-color: #f3f3f4;
  color: #a7aaab;
  height: 100%;
  width: 100%;
}
.middle-box {
    max-width: 400px;
    z-index: 100;
    margin: 0 auto;
    padding-top: 10px;
}
.loginscreen.middle-box {
    width: 300px;
}
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.middle-box h1 {
    font-size: 170px;
}
.text-center {
    text-align: center!important;
}
.logo-name {
    color: #e6e6e6;
    font-size: 180px;
    font-weight: 800;
    letter-spacing: -10px;
    margin-bottom: 0;
}
h3, h4, h5 {
    margin-top: 5px;
    font-weight: 600;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.login-form {
    max-width: 300px;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}
.form-item{
    margin-bottom: 15px;
}
.logo-name > img{
    width: 100%;
}