.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
  }
  .left-nav{
    z-index: 10;
    min-height: 100vh;
    box-shadow: 2px 0 6px rgba(0,21,41,.35);
  }
  .ant-layout-footer{
    padding: 10px 50px;
  }
  .ant-layout-header{
    box-shadow: 0 1px 4px rgba(0,21,41,.08);
  }
  .profile-element{
    margin: 33px 25px;
    color: white
  }
  .logo-element {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: white;
    padding: 18px 0;
}